<ul class="list-unstyled">
  <% entries.each do |entry| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="" alt="">
      <div class="media-body">
        <div>
          <%= link_to entry.user.name, user_path(entry.user) %> <span class="text-muted">posted at <%= entry.created_at %></span>
        </div>
        <div>
          <p><%= entry.title %></p>
        </div>
        <div>
          <p><%= truncate(entry.body, length: 80) %>
          
            <%= link_to "もっと読む", user_entry_path(entry.user, entry) %></p>
         
        </div>
        <% if current_user == entry.user %>
          <%= link_to "編集", edit_entry_path(entry), class: 'btn btn-success btn-sm' %>
        <% end %>
         
        <% if current_user == entry.user %>
          <%= link_to "削除", entry, method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger btn-sm' %>
        <% end %>
      </div>
    </li>
  <% end %>
  <%= paginate entries %>
  
</ul>