<ul class="list-unstyled">
  <% entries.each do |entry| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="" alt="">
      <div class="media-body">
        <div>
          <%= link_to entry.user.name, user_path(entry.user) %> <span class="text-muted">posted at <%= entry.created_at %></span>
        </div>
        <div>
          <p><%= entry.title %></p>
        </div>
        <div>
          <p><%= entry.body %></p>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate entries %>
  
</ul>