<% if current_user == @user %>
  <div class="toolbar"><%= link_to "新規ブログを追加する", :root %></div>
<% end %>
<div class="row">
  
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 50 }) %>" alt="">
      </div>
    </div>
  </aside>
  
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item">
        <a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">
          Blog <span class="badge badge-secondary"><%= @count_entries %></span>
        </a>
      </li>
      
    </ul>
    <%= render 'entries/entries', entries: @entries %>
  </div>
  
</div>