<% @page_title = "toppage" %>
<% if logged_in? %>
  
  <div class="row">
    
    <aside class="col-sm-5">
      <%= form_with(model: @entry, local: true) do |f| %>
      
        <%= render 'layouts/error_messages', model: f.object %>
        <div class="form-group">
          <%= f.text_area :title, class: 'form-control', rows: 1, placeholder: "(例) タイトル" %>
        </div>
        <div>
          <%= f.text_area :body, class: 'form-control', rows: 15, placeholder: "(例) 本文" %>
        </div>
 
          <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>

      <% end %>
    </aside>
    
    <div class="col-sm-7">
      <%= render 'entries/entries', entries: @entries, user: @user %>
    </div>
  </div>
  
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Blog</h1>
      
      <%= link_to 'Sing up now!', signup_path, class: 'btn btn-lg btn-primary' %>
      
    </div>
  </div>
<% end %>