<% @page_title = "パスワードの変更" %>
<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "マイアカウントに戻る", :account %></div>

<%= form_with(model: @user, as: :account, url: :password, local: true) do |f| %>

  <%= render 'layouts/error_messages', model: f.object %>
  
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <table class="table table-striped">
        
        <tr>
          <th ><%= f.label :current_password, '現在のパスワード' %></th>
          <td><%= f.password_field :current_password, class: 'form-control' %></td>
        </tr>
        
        <tr>
          <th><%= f.label :password, '新しいパスワード' %></th>
          <td><%= f.password_field :password, class: 'form-control'%></td>
        </tr>
      
        <tr>
          <th><%= f.label :password_confirmation, '確認のため新しいパスワードを再入力' %></th>
          <td><%= f.password_field :password_confirmation , class: 'form-control'%></td>
        </tr>
      
      </table>
    
      <div><%= f.submit "変更", class: 'btn btn-primary btn-block' %></div>
    </div>
  </div>

<% end %>